header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #f0eff4;
    margin: 6px 0;
    transition: 0.5s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.navbar a{
    color: black;
    text-decoration: none;
    list-style: none;
}

nav {
    position: absolute;
    left: 0;
    top: 210px;
    background-color: rgba(255,255,255, 0.20);
    backdrop-filter: blur(7px);
    height: 82vh;
    overflow: hidden;
    width: 0;
}
nav ul {
    position: relative;
    list-style-type: none;
    padding: 125px;
}

nav li{
    margin: 30px 0;
    font-size: 1.2em;
    font-weight: 600;
}

ul#menu-main-menu.menu-main{
    color: white;
    text-align: center;
}

body.bg-home{
    font-family:"Revalia", "Arial";
    background-image: url(pictures/fond3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    background-color: #596235;
    font-family:"Revalia", "Arial";
}

.rotate img {
    -webkit-transition:all 0.5s ease;
    transition: transform 3.5s ease;
}

.rotate:hover img {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.title.citation,h1,h2{
    padding: 20px;
    color: white;
}

h1{
    text-align: center;
}

.citation{
    height: 75vh;
    color: white;
    font-family: initial;
    text-align: center;
    font-style: italic;
    font-size: large;
    justify-content: center;
    padding: 20px;
}

p{
    text-align: justify;
    padding: 10px;
}

.pictures,h2{
    text-align: center;
}

.characters img{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
}

h3{
    padding: 20px;
    color: whitesmoke;
    text-align: center;
}

button{
    position:absolute;
    bottom: 30px;
    right: 50px;
}

.video{
    position:relative
    display: none;
}

@media screen and (min-width: 900px){

    .container {
        display: none;
    }
    nav {
        position: initial;
        top: initial;
        left: initial;
        width: initial;
        height: initial; 
        backdrop-filter: none;
        background-color: none;
        justify-content: space-between;
    }

    .nav ul{
        display: flex;
        margin: 0 30px;
    }

    .nav, ul,li{
        display: flex;
        align-items: center;
        margin: 0 30px;
    }
  
    .video{
        position: initial;
    }
}
