body{
    font-family:"Revalia", Arial;
    color: #ffff;
    background-color: #285185;
    font-size: var(--font-size);
    background-image: url(pictures/fond\ presentation.jpg);
}

:root{
    --font-size:1rem;
}

.light-mode{
    --navbar-color: black;
    --navbar-bg-color: white;
}

.dark-mode{
    --navbar-color: black;
    --navbar-bg-color:white;
}

*{
    box-sizing:border-box;
    outline: none;
    margin: 0;
    padding:0;
}

ul{
    list-style: none;
}

.main-content{
    padding:1rem;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 10px;
    color:var(--navbar-color);
    background:var(--navbar-bg-color);
}

.navbar__links{
    display:flex;
}

.navbar__link{
    padding:0 10px;
}

.navbar__link > a {
    text-decoration: none;
    color:var(--navbar-color);
}

.burger{
    display: none;
}

@media screen and (max-width:768px){
.navbar__links{
    display: flex;
    flex-direction: column;
    width:0;
    height: 100vh;
    position:absolute;
    top:65px;
    right: 0;
    background: var(--navbar-bg-color);
}
.show-nav .navbar__links{
    width: 100%;
}
.navbar__link > a {
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    transition: all .4s ease-in-out;
}
.navbar__link > a:hover {
    padding-left: 2rem;
    letter-spacing:5px;
}
.burger{
    display: block;
    position: relative;
    padding:0;
    width:45px;
    height:45px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.bar{
    display: block;
    width: 45px;
    height: 4px;
    background: var(--navbar-color);
    border-radius: 3px;
}
.bar::before, .bar::after{
    content:"";
    width: 45px;
    height: 4px;
    position:absolute;
    left: 0;
    background: var(--navbar-color);
    border-radius: 3px;
}
.bar::before{
    transform: translateY(-12px);
}
.bar::after{
    transform: translateY(12px);
}
}

@media screen and (min-width:768px) {
    .navbar__link > a::after {
        display: block;
        content:"";
        width: 0;
        height: 1px;
        background:var(--navbar-color);
    }
    .navbar__link:hover > a::after{
        width: 100%;
    }
}
