*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header{
    height: 10vh;
    width: 100vw;
}

body.bg-home{
    font-family:"Revalia", "Arial";
    background-image: url(pictures/fond-presentation.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    background-color: #022E51;
    font-family:"Revalia", "Arial";
}

.citation{
    height: 100vh;
    color: white;
    font-family: initial;
    text-align: center;
    font-style: italic;
    font-size: large;
    justify-content: center;
}

h2{
    
    text-align: center;
}

.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 35px;
    right: 30px;
    width: 35px;
}

.navbar .close{
    display: none;
}

.navbar a {
    color: aliceblue;
}

.navbar a:hover{
    color: yellow;
}

p{
    color: aliceblue;
    text-align: justify;
}

.rotate img {
    -webkit-transition:all 0.5s ease;
    transition: transform 3.5s ease;
}

.rotate:hover img {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

@media screen and (max-width: 900px){
    body.bg-home{
        background-image: url(pictures/fond-presentation.jpg);
        height: 110vh;
        width: 100vw;
    }

    .navbar{
        padding: 0;
    }

    .logo{
        display: none;
    }

    .navbar .logo {
        top: 40px;
        left: 100px;
    }

    .navbar .close {
        width: 35px;
        height: 35px;
        display: flex;
        top: 0;
        right: 0;
        z-index: 2rem;
    }
    .navbar .menu-hamburger{
        display: block;
    }
    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255,255,255, 0.20);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu{
        margin-left: 0;
    }        

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }

    .navbar .nav-links ul li.active a{
        color: yellow;
        font-weight: 600;
    }

    .title{
        display: none;
    }

    #pictures,h2{
        padding: 20px;
    }

   
}

@media screen and (min-width: 900px){

    header{
        height: 30vh;
        width: 100vw;
        position: absolute;
        display: flex;
        padding: 40px;
        justify-content: space-between;
        align-items: right;
        box-sizing: border-box;
    }
    .title{
        color: aliceblue;
        text-align: center;
        justify-content: center;
        height: 450px;
    }
    .title,h1{
        padding: 110px;
    }
    .navbar{
        position: absolute;
        padding: 50px;
        display: flex;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        justify-content: right;
    }
    
    .navbar .logo {
        font-size: 2em;
        font-weight: bold;
    }
    
    .navbar .nav-links ul{
        display: flex;
        margin-right: 100%;
    }
    
    .navbar .nav-links ul li{
        margin: 0 20px;
        font-weight: bold;
        font-size: large;
    }
    
    .navbar .nav-links ul li.active a{
        color: yellow;
        font-weight: 600;
    }
    
    .title{
        color: aliceblue;
        text-align: center;
        justify-content: center;
        height: 350px;
    }
    .title,h1{
        padding: 110px;
    }
    
    h2{
        text-align: center;
    }

}
