header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #f0eff4;
    margin: 6px 0;
    transition: 0.5s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.navbar a{
    color: black;
    text-decoration: none;
    list-style: none;
}

nav {
    position: absolute;
    left: 0;
    top: 210px;
    background-color: rgba(255,255,255, 0.20);
    backdrop-filter: blur(7px);
    height: 82vh;
    overflow: hidden;
    width: 0;
}
nav ul {
    position: relative;
    list-style-type: none;
    padding: 125px;
}

nav li{
    margin: 30px 0;
    font-size: 1.2em;
    font-weight: 600;
}

ul#menu-main-menu.menu-main{
    color: white;
    text-align: center;
}

body.bg-home{
    font-family:"Revalia", "Arial";
    background-image: url(pictures/fond3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    background-color: #596235;
    font-family:"Revalia", "Arial";
}

.rotate img {
    -webkit-transition:all 0.5s ease;
    transition: transform 3.5s ease;
}

.rotate:hover img {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.title.citation,h1,h2{
    padding: 20px;
    color: white;
}

h1{
    text-align: center;
}

.citation{
    height: 75vh;
    color: white;
    font-family: initial;
    text-align: center;
    font-style: italic;
    font-size: large;
    justify-content: center;
    padding: 20px;
}

p{
    text-align: justify;
    padding: 10px;
}

.pictures,h2{
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.flex-container {
    display: flex;
    flex-direction: column; 
}

.flex-container div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
}

h3{
    padding: 10px;
    color: whitesmoke;
    text-align: center;
}

.video{
    display: none;
}

button{
    position:absolute;
    bottom: 40px;
    right: 50px;
}

form{
    width: 350px;
    padding-top: 30px;
    text-align: center;
    justify-content: center;
}

input{
    width: 80vw;
}

textarea{
    width: 80vw;
    height: 20vh;
}


@media screen and (min-width: 900px){

    .container {
        display: none;
    }

    nav {
        position: initial;
        top: initial;
        left: initial;
        width: initial;
        height: initial; 
        justify-content: space-between;
    }

    .navbar{
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        background-color: initial;
    }

    .nav ul{
        display: flex;
        margin: 0 30px;
    }

    .nav, ul,li{
        display: flex;
        align-items: right;
        margin: 0 30px;
    }

    a{
        color: yellow;
        text-decoration:none;
        position:relative;
        padding:6px 0;
        -webkit-transition: all 0.8s;
        -o-transition: all 0.8s;
        transition: all 0.8s;
      }

      a:after{
        content:'';
        width:0%;
        margin-left:50%;
        height:2px;
        bottom:0;
        left:0;
        -webkit-border-radius: 40%;
        -moz-border-radius: 40%;
        border-radius:40%;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition:all 0.5s;
        position:absolute;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition:all 0.5s;
      }
      
      a:hover:after {
        background-color: yellow;
        width:60%;
        margin-left:20%;
        -moz-box-shadow: 0px 0px 10px yellow;
        -webkit-box-shadow: 0px 0px 10px yellow;
        -o-box-shadow: 0px 0px 10px yellow;
        box-shadow:0px 0px 10px yellow;
      }

    .title{

    }

    li{
        padding: 20px;
    }
  
    .flex-container div img{
        display: initial;
        display: absolute; 
    }

    p{
        text-align: justify;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    
    .flex-container {
        display: flex;
        flex-direction: row; 
        margin: 00px 30px;
    }

    .flex-container .picturetuto img{
        display: flex;
        flex-direction: center;
        margin: 30px 200px;
    }

    .video{
        display: initial;
    }
  
    form{
        width: initial;
        padding-top: 30px;
        text-align: center;
        justify-content: center;
    }

    /*revoir le java du form*/

}
